name: Test Pipeline

on:
  push:
  pull_request:

jobs:
  build_car:
    runs-on: ubuntu-latest
    container: alpine:latest

    steps:
      - run : echo "Building the car" 
      - run : mkdir build 
      - run : cd build 
      - run : touch car.txt 
      - run : echo "chassis" > car.txt
      - run : cat car.txt
  
  test_car:
    runs-on: ubuntu-latest
    container: alpine:latest
    needs: build_car

    steps:
      - run : test -f build/car.txt
      - run : grep "chassis" car.txt
