name: Test Pipeline

on:
  push:
  pull_request:

jobs:
  build_car:
    runs-on: alpine

    steps:
      - run : echo "Building the car"
      - run : mkdir build
      - run : cd build
      - run : touch car.txt
      - run : echo "chassis" > car.txt
