name: Test Pipeline

on:
  push:
  pull_request:

jobs:
  build_car:
    runs-on: ubuntu-latest
    container: alpine:latest

    steps:
      - name: Build the car
        run: |
          echo "Building the car"
          mkdir build
          cd build
          touch car.txt
          echo "chassis" > car.txt
          cat car.txt
